@page
@model IndexPageUI.Index
@{
    ViewBag.Title = "Home Page";
}

<div>
    <div>
        <br><p>Enter Search Details</p>
        @using (Html.BeginForm())
        {
            <div>
                <lable>Search:</lable>
                @Html.TextBox("searchphrase")

                <lable>Type:</lable>
                @Html.DropDownList("entity",
                new SelectList(Enum.GetValues(typeof(SearchEntities.iTunes))))

                <input type="submit" value="Search" />
            </div>
        }

    </div>
</div>
